receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  debug:
    verbosity: detailed

processors:
  cujprocessor:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [cujprocessor]
      exporters: [debug]